.aquarium-square {
  width: 30px;
  height: 30px;
  border: 1px solid #999;
  margin: 0 -1px -1px 0;
  background-color: #fff;
  &.type-BASE {
    background-color: #999;
  }
  &.type-SAND {
    background-color: #fd7;
  }
  &.type-WATER {
    background-color: #aaf;
  }
}